[submodule "epsilon-secure"]
	path = epsilon-secure
	url = git@github.com:numworks/epsilon-secure.git
[submodule "epsilon-bootloader"]
	path = epsilon-bootloader
	url = git@github.com:numworks/epsilon-bootloader.git
