/output/
/build/artifacts/
ion/src/simulator/android/.gradle/
.gradle/
.venv/
__pycache__
node_modules/
.cache/
/compile_commands.json
.clangd
.DS_Store
/compare_crc_output/
epsilon/compare_crc_output/
/screenshots_each_step/
epsilon/screenshots_each_step/
.vscode/
.devcontainer/
ion/src/simulator/ios/GoogleAnalyticsServices/
ion/src/device/epsilon-core
