#include <ion/src/simulator/windows/resources_gen.rc>

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "NumWorks"
      VALUE "FileDescription", "Graphing calculator simulator"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "epsilon"
      VALUE "LegalCopyright", "NumWorks"
      VALUE "OriginalFilename", "epsilon.exe"
      VALUE "ProductName", "Epsilon"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
