/* This file contains css that apply to both scandium and epsilon generated html.
 * .calculator-container and sub-elements */

.calculator-container {
  position: relative;
  display: inline-block;
}

.calculator-container img {
  /* Rely on the img content to set the dimensions */
  /* The css of the importer should change the image size directly */
  display: block;
}

.calculator span {
  position: absolute;
  display: block;
  border-radius: 999px;
  cursor: pointer;
}

.calculator span:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.calculator span:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.calculator.loading canvas {
  display: none;
}

.calculator .loader {
  display: none;
}

.calculator.loading .loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator svg {
  width: 33%;
}

@keyframes calculator-loader-rotation {
  from { stroke-dashoffset: 0; }
  to { stroke-dashoffset: -290; }
}

.calculator svg circle {
  animation: calculator-loader-rotation 1.2s linear infinite;
}
