name: Docker Image CI
on: [pull_request, push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
       submodules: true
    - name: Build the Docker image
      run: docker build . --file docker/Dockerfile --tag omega:$(date +%s)