name: Continuous integration
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
  build-macos:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - run: make PLATFORM=simulator
